#DocumentRoot /var/www/u1366210/data/www/filtim/web

#DirectoryIndex web/index.php

#Options +FollowSymLinks
#IndexIgnore */*

RewriteEngine on

RewriteRule ^(.*)$  https://%{HTTP_HOST}/web/$1 [L,QSA]